.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 60px 0 40px;
}

.buttons button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.buttons button:hover {
  background-color: #0056b3;
}
